<div class="content">
  <div class="main">
    <p>main</p>
  </div>
  <div class="right-sidebar">
    <div class="music-card">
      <h4>Music</h4>
      <% if @songs %>
        <% @songs.each_with_index do |song, index| %>
          <div class="song-card">
            <% url = song[:image] %>

            <div class="song-image" style='background-image: url(<%= url %>);'></div>

            <div class="song-info">
              <p><%= "#{song[:title]}" %></p>
              <p><%= "by #{song[:artist]}" %> (<small><em><%= "#{song[:time]}" %></em></small>)</p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Content unavailable...</p>
    <% end %>
    <div class="weather-card">
      <h4>Cities</h4>
      <div class="weather-card-content"></div>
    </div>
  </div>
</div>
