<div class="sidebar">
  <div class="content">
    <img class="avatar" src="https://avatars0.githubusercontent.com/u/50845767?s=460&u=082543d477f8110f2f915cdee9a59ca541df68cd&v=4" alt="juagarca's avatar">
    <h3>Software Engineer</h2>
  </div>
</div>
