<div class="content">
  <div class="main">
    <p>main</p>
  </div>
  <div class="right-sidebar">
    <div class="card-1">
      card1
    </div>
    <div class="card-2">
      card2
    </div>
  </div>
</div>
