<div class="content">
  <div class="main">
    hey girl!
  </div>
  <div class="right-sidebar">
    <div class="music-card">
      <h4>My recent tracks <i class="far fa-heart"></i></h4>
      <% if @songs %>
        <% @songs.each_with_index do |song, index| %>
          <div class="song-card">
            <% url = song[:image] %>

            <div class="song-image" style='background-image: url(<%= url %>);'></div>

            <div class="song-info">
              <p><%= "#{song[:title]}" %></p>
              <p><%= "by #{song[:artist]}" %> (<small><em><%= "#{song[:time]}" %></em></small>)</p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Content unavailable...</p>
    <% end %>
    <div class="weather-card">
      <span>Where should I go next? </span><img src="images/suitcase.png" style="width: 20px; display: inline-block; margin-bottom: 8px;" alt="suitcase">
      <div class="weather-card-content">
        <div class="city-cards-container"></div>
      </div>
    </div>
  </div>
</div>
