<div class="content">
  <div class="main">
    <h1>Lorem ipsum dolor sit amet, adipisicing elit. Corporis blanditiis officia, delectus neque debitis similique.</h1>
    <br> <br>
    <p style="text-align: right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam blanditiis eveniet officiis possimus. Vitae debitis placeat molestias sapiente, hic eligendi, repellat aliquid cum aut officiis iusto quasi itaque labore accusantium.</p>
    <br><br>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque corporis blanditiis officia, delectus neque debitis similique reprehenderit accusantium repellendus voluptatem voluptatibus, alias quis quidem quasi unde temporibus dolores sunt nemo.</h3>
    <h1>Lorem ipsum dolor sit amet, adipisicing elit. Corporis blanditiis officia, delectus neque debitis similique.</h1>
    <br> <br>
    <p style="text-align: right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam blanditiis eveniet officiis possimus. Vitae debitis placeat molestias sapiente, hic eligendi, repellat aliquid cum aut officiis iusto quasi itaque labore accusantium.</p>
    <br><br>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque corporis blanditiis officia, delectus neque debitis similique reprehenderit accusantium repellendus voluptatem voluptatibus, alias quis quidem quasi unde temporibus dolores sunt nemo.</h3>
    <h1>Lorem ipsum dolor sit amet, adipisicing elit. Corporis blanditiis officia, delectus neque debitis similique.</h1>
    <br> <br>
    <p style="text-align: right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam blanditiis eveniet officiis possimus. Vitae debitis placeat molestias sapiente, hic eligendi, repellat aliquid cum aut officiis iusto quasi itaque labore accusantium.</p>
    <br><br>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque corporis blanditiis officia, delectus neque debitis similique reprehenderit accusantium repellendus voluptatem voluptatibus, alias quis quidem quasi unde temporibus dolores sunt nemo.</h3>

  </div>
  <div class="right-sidebar">
    <div class="music-card">
      <h4>My recent tracks <i class="far fa-heart"></i></h4>
      <div class="songs-card" style="height:292px">
        <img class="loading" style="height:35px; position: relative; top: 120px; left: 145px;" src="images/spinner.gif" alt="spinner">
      </div>
    </div>
    <div class="weather-card">
      <h4>Where should I go next? <img src="images/suitcase.png" style="width: 20px; display: inline-block; margin-bottom: 7px;" alt="suitcase"></h4>
      <div class="weather-card-content">
        <div class="city-cards-container"></div>
      </div>
    </div>
  </div>
</div>
