<div class="content">
  <div class="main">
    <p>main</p>
  </div>
  <div class="right-sidebar">
    <div class="card-1">
      <% @songs.each_with_index do |song, index| %>
        <p><%= "#{index + 1}. #{song}" %></p>
      <% end %>
    </div>
    <div class="card-2">
      card2
    </div>
  </div>
</div>
