<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>juagarca</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/application.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
      <!-- <div class="row"> -->
        <!-- <div class="col-sm-8 col-sm-offset-2"> -->
    <div class="app">
      <div class="left-sidebar">
        <div class="photo-section" style="background-image: url(https://avatars0.githubusercontent.com/u/50845767?s=460&u=082543d477f8110f2f915cdee9a59ca541df68cd&v=4);">
          <!-- <img class="avatar" src="https://avatars0.githubusercontent.com/u/50845767?s=460&u=082543d477f8110f2f915cdee9a59ca541df68cd&v=4" alt="juagarca's avatar"> -->
    </div>
   <!--  <div class="info">
      <h4 style="text-align: center;">Software Engineer</h4>
      <p>He/Him/His</p>
      <p><i class="fas fa-map-marker-alt" style="margin-right: 8px;"></i>London</p>
      <div class="language-images">
        <img src="images/english.svg" alt="British flag" title="English">
        <img src="images/spanish.svg" alt="Spanish flag" title="Spanish">
        <img src="images/lgbtq.png" alt="LGBTQ+ flag" title="Gay">
      </div>
    </div> -->
        <div class="tools-card">
          <h4>Tools I build my ideas with <i class="far fa-lightbulb"></i></h4>
          <div class="tools">
            <img src="images/java.svg" alt="Java" style="cursor: pointer;">
            <img src="images/csharp.svg" alt="C#" style="cursor: pointer;">
            <img src="images/javascript.svg" alt="JavaScript" style="cursor: pointer;">
            <img src="images/ruby.svg" alt="Ruby" style="cursor: pointer;">
            <img src="images/html.svg" alt="HTML" style="cursor: pointer;">
            <img src="images/css.svg" alt="CSS" style="cursor: pointer;">
            <img src="images/sass.svg" alt="SASS" style="cursor: pointer;">
            <img src="images/bootstrap.svg" alt="Bootstrap" style="cursor: pointer;">
            <img src="images/rails.svg" alt="Rails" style="cursor: pointer;">
            <img src="images/sinatra.svg" alt="Sinatra" style="cursor: pointer;">
            <img src="images/react.svg" alt="React" style="cursor: pointer;">
            <img src="images/redux.svg" alt="Redux" style="cursor: pointer;">
            <img src="images/ajax.svg" alt="AJAX" style="cursor: pointer;">
            <img src="images/rspec.png" alt="RSpec" style="cursor: pointer;">
            <img src="images/jest.svg" alt="Jest" style="cursor: pointer;">
            <img src="images/postgresql.svg" alt="PostgreSQL" style="cursor: pointer;">
            <img src="images/github.svg" alt="Github" style="cursor: pointer;">
            <img src="images/git.svg" alt="Git" style="cursor: pointer;">
            <img src="images/photoshop.svg" alt="Adobe Photoshop" style="cursor: pointer;">
            <img src="images/illustrator.svg" alt="Adobe Illustrator" style="cursor: pointer;">
            <img src="images/heroku.svg" alt="Heroku" style="cursor: pointer;">
            <img src="images/figma.svg" alt="Figma" style="cursor: pointer;">
            <img src="images/slack.svg" alt="Slack" style="cursor: pointer;">
            <img src="images/trello.svg" alt="Trello" style="cursor: pointer;">
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="navbar-juagarca">
          <ul class="items">
            <li>
              <a title="Home" style="cursor: pointer;"><i class="fas fa-home button"></i></a>
            </li>
            <li>
              <a title="Projects" style="cursor: pointer;"><i class="fas fa-tools button"></i></a>
            </li>
            <li>
              <a title="CV" style="cursor: pointer;"><i class="fas fa-file-code button"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/juagarca" target="_blank" title="LinkedIn"><i class="fab fa-linkedin button"></i></a>
            </li>
            <li>
              <a href="https://www.github.com/juagarca" target="_blank" title="Github"><i class="fab fa-github button"></i></a>
            </li>
            <li>
              <a href="mailto:juagarca@gmail.com" target="_blank" title="Email"><i class="fas fa-envelope button"></i></i></a>
            </li>
          </ul>
        </div>
        <%= yield %>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/application.js"></script>
  </body>
</html>
