<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>juagarca</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
      <!-- <div class="row"> -->
        <!-- <div class="col-sm-8 col-sm-offset-2"> -->
    <div class="app">
      <div class="sidebar">
        <div class="content-side">
          <img class="avatar" src="https://avatars0.githubusercontent.com/u/50845767?s=460&u=082543d477f8110f2f915cdee9a59ca541df68cd&v=4" alt="juagarca's avatar">
          <h3>Software Engineer</h2>
 <!--          <ul class="list-inline">
            <li class="big-icon">
              <a href="https://www.linkedin.com/in/juagarca" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="big-icon">
              <a href="https://github.com/juagarca" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="big-icon">
              <a href="mailto:juagarca@gmail.com" target="_blank">
                <i class="fas fa-paper-plane"></i>
              </a>
            </li>
          </ul> -->
          <div class="tools-card">
            <h4>Tools</h4>
            <div class="tools">
              <img src="images/java.svg" alt="Java" title="Java">
              <img src="images/csharp.svg" alt="C#" title="C#">
              <img src="images/javascript.svg" alt="JavaScript" title="JavaScript">
              <img src="images/ruby.svg" alt="Ruby" title="Ruby">
              <img src="images/html.svg" alt="HTML" title="HTML">
              <img src="images/css.svg" alt="CSS" title="CSS">
              <img src="images/sass.svg" alt="SASS" title="SASS">
              <img src="images/bootstrap.svg" alt="Bootstrap" title="Bootstrap">
              <img src="images/rails.svg" alt="Rails" title="Rails">
              <img src="images/react.svg" alt="React" title="React">
              <img src="images/redux.svg" alt="Redux" title="Redux">
              <img src="images/ajax.svg" alt="AJAX" title="AJAX">
              <img src="images/rspec.png" alt="RSpec" title="RSpec">
              <img src="images/jest.svg" alt="Jest" title="Jest">
              <img src="images/github.svg" alt="Github" title="Github">
              <img src="images/git.svg" alt="Git" title="Git">
              <img src="images/postgresql.svg" alt="PostgreSQL" title="PostgreSQL">
              <img src="images/heroku.svg" alt="Heroku" title="Heroku">
              <img src="images/illustrator.svg" alt="Adobe Illustrator" title="Adobe Illustrator">
              <img src="images/photoshop.svg" alt="Adobe Photoshop" title="Adobe Photoshop">
              <img src="images/figma.svg" alt="Figma" title="Figma">
              <img src="images/slack.svg" alt="Slack" title="Slack">
              <img src="images/trello.svg" alt="Trello" title="Trello">
            </div>
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="navbar-juagarca">
          <ul class="items">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">CV</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <%= yield %>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/application.js"></script>
  </body>
</html>
