<div class="images-container">
  <img src="images/PintPal/pintpal01.png" class="pintpal-images">
  <img src="images/PintPal/pintpal02.png" class="pintpal-images">
  <img src="images/PintPal/pintpal03.png" class="pintpal-images">
</div>
