<br><br><br><div class="tooltip" style="color: white;">Hover over me<span class="tooltiptext">Tooltip text</span></div>


<img src="images/java.svg" alt="Java" style="cursor: pointer;">Hover over me
  <span class="tooltiptext">Tooltip text</span>
