  `<div>
    <h3 style="text-align: right; font-size: 24px; font-weight: bolder;">HireMyHound</h3>
    <div class="hiremyhound-images-container">
      <img src="images/HireMyHound/hiremyhound01.png" class="hiremyhound-image">
      <img src="images/HireMyHound/hiremyhound02.png" class="hiremyhound-image">
      <img src="images/HireMyHound/hiremyhound03.png" class="hiremyhound-image">
      <img src="images/HireMyHound/hiremyhound04.png" class="hiremyhound-image">
    </div>
  </div>
