* {
margin: 0;
padding: 0;
border: none;
list-style-type: none;
}

body {
  color: white;
  background-color: black;
  font-size: 16px;
}

a {
  color: white;
}

a:hover {
  color:rgba(255, 255, 255, 0.4);
}

a:link {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.4);
}

a:visited {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.4);
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 95vh;
  margin: 16px 0 16px 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  /*background-color:orange;*/
}

.right-side {
  display: flex;
  width: 80%;
  flex-direction: column;
  /*border-left: 1px solid rgba(255, 255, 255, 0.3);*/
  /*background-color: red;*/
}

.content {
  display: flex;
  /*background-color: blue;*/
}

.main {
  height: 87vh;
/*  background-color: green;
*/margin: 16px 8px 16px 16px;
  width: 72%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);

}

.right-sidebar {
  display: flex;
  flex-direction: column;
/*  background-color: yellow;
*/  width: 25%;
  margin: 16px 16px 16px 8px;
}

.card-1 {
  border: 1px solid black;
}

.card-2 {
  border: 1px solid black;
}

.big-icon {
  font-size: 24px;
}

/*Components*/

.app {
  display: flex;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.sidebar .content-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*width: 90%;*/
  height: 60%;
}


/*Navbar*/

.navbar-juagarca {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 16px;
  height: 8vh;
  /*width: 100%;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.items {
  display: flex;
  margin: 0;
  padding: 0;
}

.items > li {
  color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}


