* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

body {
  color: white;
  background-color: #0D1117;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.main::-webkit-scrollbar {
  display: none;
}

.right-side::-webkit-scrollbar {
  display: none;
}

a {
  color: #74767A !important;
}

a:hover {
  color: white !important;
}

a:link {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
}

h1 {
  font-size: 56px;
}

h4 {
  font-size: 17px;
}

p {
  color: #74767A;
  font-size: 16px;
}

mark {
 padding: 0 0 .2em 0;
 background-color: transparent;
 border-bottom: 1px solid #3D4145;
}

mark:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

/*Layout*/

.app {
  display: flex;
}

.main {
  height: 90vh;
  max-height: 90vh;
  overflow: auto;
  /*background-color: green;*/
  padding: 8px 16px 16px 8px;
  width: 70%;
}

.content {
  display: flex;
}

.right-side {
  display: flex;
  width: 80%;
  flex-direction: column;
  /*background-color: red;*/
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  /*background-color: yellow;*/
  width: 30%;
  margin: 8px 8px 8px 0;
  padding-left: 8px;
  border-left: 1px solid #3D4145;
}

.button {
  border: 1px solid #3D4145;
  color: #74767A;
  padding: 6px 7px;
  margin: 0 0 0 8px;
  border-radius: 50%;
  background: #161B22;
}

.button:hover {
  transition: all 0.5s ease-out;
  border: 1px solid white;
  color: white;
  background: black;
}

.button-summary {
  border: 1px solid white;
  color: white;
  padding: 8px;
  margin: 0 0 0 8px;
  border-radius: 50%;
  background: black;
  cursor: default;
}

.navigation-button-container {
  writing-mode: tb-rl;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 156px;
  width: 156px;
}

.navigation-button {
  border: 1px solid #3D4145;
  color: #74767A;
  padding: 8px;
  /*margin: 0 0 0 8px;*/
  border-radius: 50%;
  background: #161B22;
  font-size: 120px;
  transition: all 0.3s ease-out;
}

.navigation-button:hover {
  border: 1px solid white;
  color: white;
  background: black;
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
}

/*Navbar*/

.navbar-juagarca {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 16px 0 16px;
  height: 8vh;
  /*width: 100%;*/
  border-bottom: 1px solid #3D4145;
}

.items {
  display: flex;
  margin: 2px;
}

.items > li {
  font-size: 18px;
}

/*Left-Sidebar*/

.left-sidebar {
  width: 20%;
  /*height: 94vh;*/
  padding: 0 0 0 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-right: 1px solid #3D4145;
  /*background-color:orange;*/
}
.top {
  /*border: 1px solid orange;*/
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-end;
}

.flip-box {
  background-color: transparent;
  width: 94%;
  height: 248px;
  /*border: 1px solid #3D4145;*/
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #3D4145;
  border-radius: 5px;
}

.flip-box-back {
  background-color: black;
  transform: rotateX(180deg);
  border: 1px solid #3D4145;
  border-radius: 5px;
}

.flip-box-back h3 {
  font-size: 18px;
  color: #74767A;
}

.flip-box-back p {
  font-size: 14px;
  color: #74767A;
}

.language-images {
  display: flex;
  justify-content: space-between;
  margin: 16px 48px 0 48px;
  /*opacity: 0.5;*/
}

.language-images img {
  width: 28%;
  border: 1px solid white;
}

.tools-card {
  /*border: 1px solid red;*/
  /*width: 250px;*/
  height: 60%;
  margin-bottom: 8px;
}

.tools-card h4 {
  margin: 24px 0 16px 0;
}

.tools {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 94%;
}

.tools-card .tools img {
  /*width: 40px;*/
  height: 5.8vh;
  opacity: 0.5;
  margin: 0 auto;
}

.tools-card .tools img:hover {
  opacity: 1;
  transition: all 0.5s ease-out;
}

/*Content*/

.content-container {
  width: 640px;
  margin: 0 auto;
  overflow-x: hidden;
}

.summary {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#wave {
  animation: wiggle 1.5s infinite;
  display: inline-block;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(10deg); }
   95% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.summary p {
  color: #74767A;
  line-height: 32px;
  font-size: 20px;
}

.summary h2 {
  color: white;
  font-size: 40px;
}

.summary ul {
  margin: 20px;
  color: #74767A;
}

.marquee {
  transition: all 1.5s ease-in;
}

.marquee-hide {
  opacity: 0;
}

.marquee-show {
  opacity: 1;
}

/*Projects*/

.cards-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.project-container{
  margin-top: 40px;
  height: 240px;
  width: 640px;
  border: 1px solid #3D4145;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.project-container:hover {
  border: 1px solid white;
}

.card-project {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.card-project:hover {
  transform: scale(1.2);
}

.show-card {
  opacity: 1;
  cursor: pointer;
}

.project {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.show-project {
  opacity: 1;
}

.project-tools {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.project-tools > img {
  width: 34px;
  margin-left: 8px;
}

.pintpal-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 32px;
}

.pintpal-image {
  width: 200px;
  border: 1px solid #3D4145;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.pintpal-image:hover {
  opacity: 0.7;
  border: 1px solid white;
}

.hiremyhound-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 32px;
}

.hiremyhound-image {
  width: 312px;
  border: 1px solid #3D4145;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.hiremyhound-image:hover {
  opacity: 0.7;
  border: 1px solid white;
}

.chat-images-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin-top: 32px;
}

.chat-image {
  width: 640px;
  border: 1px solid #3D4145;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.chat-image:hover {
  opacity: 0.7;
  border: 1px solid white;
}

.garage-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 32px;
}

.garage-image {
  width: 312px;
  border: 1px solid #3D4145;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.garage-image:hover {
  opacity: 0.7;
  border: 1px solid white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-pintpal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 280px;
  border: 1px solid white;
  animation-name: zoom;
  animation-duration: 0.6s;
  border-radius: 5px;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1256px;
  border: 1px solid white;
  animation-name: zoom;
  animation-duration: 0.6s;
  border-radius: 5px;
}

/* Add Animation - Zoom in the Modal */
/*.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}*/

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*CV*/

.cv-container {
  opacity: 0;
  transition: opacity 0.9s ease-out;
}

.cv {
  margin-top: 16px;
}

.cv:hover {
  animation: shake 0.8s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.show {
  opacity: 1;
}

/*Music card */
.music-card {
  /*border: 1px solid blue;*/
  height: 55%;
}

.music-card h4 {
  /*background-color: white;*/
  margin-left: 8px;
  margin-top: 6px;
 /* margin-bottom: 8px;*/
}

.song-card {
  /*background-color: red;*/
  display: flex;
  margin: 8px;
  /*height: 50px;*/
  height: 7.5vh;
  color: #74767A;
  border: 1px solid #3D4145;
  background: #161B22;
  border-radius: 5px;
}

.song-card p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.song-card-active {
  background: black;
}

.song-card-active p {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /*display: block;*/
  /*background: black;*/
}

.song-card:hover {
  transition: all 0.5s ease-out;
  color: white;
  background: black;
}

.song-image {
  width: 7.2vh;
  height: 7.2vh;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #3D4145;
  border-radius: 5px;
}

.song-info {
  width: 80%;
  margin: 0 0 0 8px;
  /*background-color: red;*/
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.song-info p {
  font-size: 11px;
  margin-bottom: 0 !important;
  /*line-height: 16px;*/
}

.equalizer {
  height: 12px;
  margin-bottom: 6px;
  width: 38px;
}

/*City card*/
.weather-card {
  /*border: 1px solid red;*/
  height: 45%;
}

.weather-card h4 {
  margin: 8px 0 0 8px;
}

.city-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin: 8px 8px 0 8px;
}

.city-card {
  display: flex;
  color: #74767A;
  border: 1px solid #3D4145;
  /*height: 46px;*/
  height: 7.5vh;
  background: #161B22;
  border-radius: 5px;
}

.city-card:hover {
  transition: all 0.5s ease-out;
  color: white;
  background: black;
}

.city-image {
  width: 7.2vh;
  height: 7.2vh;
  border-radius: 5px;
  background: black;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #3D4145;
}

.weather-card-content p {
  /*margin: 0 0 0 8px;*/
  font-size: 11px;
}


/*default: Extra small devices (Portrait phone 👉 less than 576px)
sm: Small devices (Landscape phone 👉 576px and up)
md: Medium devices (Tablet 👉 768px and up)
lg: Large devices (Desktops 👉 992px and up)
xl: Extra large devices (Large desktops 👉 1200px and up)
*/

@media(max-width: 767px) {
  .tools {
    grid-template-columns: 1fr;
  }

  .city-cards-container {
    grid-template-columns: 1fr;
  }

  .language-images img {
    display: none;
  }
  .weather-card {
    height: 30vh;
  }
}

@media(min-width: 768px) {
  .tools {
    grid-template-columns: 1fr 1fr;
  }
  .city-cards-container {
    grid-template-columns: 1fr;
  }
  .weather-card {
    height: 30vh;
  }
}

@media(min-width: 992px) {
  .tools {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .city-cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .weather-card {
    height: 30vh;
  }
}

@media(min-width: 1200px) {
  .tools {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .city-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-height: 700px) {
  .tools-card h4{
    margin-top: 48px;
  }
}

