* {
margin: 0;
padding: 0;
border: none;
list-style-type: none;
}

body {
  color: white;
  background-color: black;
  font-size: 16px;
}

a {
  color: white;
}

a:hover {
  color:rgba(255, 255, 255, 0.4);
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.4);
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 78%;
}

.content {
  margin: 16px 0;
  height: 87vh;
  width: 75%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
/*Components*/

.app {
  display: flex;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /*border: 2px solid rgba(255, 255, 255, 0.2);*/
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 95vh;
  margin: 16px 0;
  background-color: black;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .content-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.contact li {
  display: inline;
}


/*Navbar*/

.navbar-juagarca {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 16px;
  height: 8vh;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.items {
  display: flex;
  margin: 0;
  padding: 0;
}

.items > li {
  color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}


